# 가상 환경 폴더 제외
venv/
# 또는 다른 가상 환경 폴더 이름
# .venv/
# env/
# .env/

# Python 캐시 파일 제외
__pycache__/
*.py[cod]

# IDE 설정 파일 제외 (Visual Studio Code)
.vscode/
.idea/

# Jupyter Notebook 체크포인트 제외
.ipynb_checkpoints/

# 기타 설정 파일 제외
.DS_Store
*.log
*.sqlite3
